[Interface]
PrivateKey = {{ interface.get_private_key() }}
ListenPort = {{ interface.listen_port }}
{% if interface.fw_mark -%}
FwMark = {{ interface.fw_mark }}
{% endif -%}

{% for peer in peers %}
[Peer]
PublicKey = {{ peer.public_key }}
{% if not peer.allowed_ips -%}
AllowedIPs = {{ peer.address }}
{% else -%}
{% for line in peer.allowed_ips.splitlines() -%}
AllowedIPs = {{ line }}
{% endfor -%}
{% endif -%}
{% if peer.preshared_key -%}
PresharedKey = {{ peer.preshared_key }}
{% endif -%}
{% if peer.persistent_keepalive -%}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif -%}
{% endfor %}